@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('/static/font/DejaVuSansMono.woff2') format('woff2'),
        url('/static/font/DejaVuSansMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minecraftia';
    src: url('/static/font/Minecraftia-Regular.woff2') format('woff2'),
        url('/static/font/Minecraftia-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
