:root {
    --bg: #000;
    --content-bg: #393939;
    --fg: #ccd;
    --accent: #b2aff9;
}

body {
    background-color: var(--bg);
    margin: 0;
}

.content>p {
    margin: 4px;
    font-family: "DejaVu Sans Mono", monospace;
    letter-spacing: -0.6px;
    margin-left: 2em;
}

.content>.heading {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 3vh;
    margin-left: 0;
}


a,
a:link,
a:visited,
a:hover,
a:active {
    color: var(--accent);
}

.nomargin {
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 3vh auto;
}

.terminal {
    color: var(--fg);
    background-color: var(--content-bg);
    border: 4px solid var(--fg);
    padding: 20px;
    display: block;
    font-family: "DejaVu Sans", sans-serif;
    font-size: 11pt;
    min-height: 100%;
    overflow-wrap: break-word;
}

.content {
    margin-top: 5vh;
}

.splash {
    color: #FFFF00;
    text-shadow: 1px 1px 0px #000;
    position: relative;
    left: 70px;
    bottom: 20px;
    -webkit-animation: splash .25s;
    animation: splash .25s;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    font-family: "Minecraftia", "DejaVu Sans", monospace;
    display: block;
    line-height: 1em;
    max-height: 1em;
    margin: 0;
    white-space: nowrap;
}


@keyframes splash {
    0% {
        transform: scale(0.925) rotate(-20deg)
    }

    100% {
        transform: scale(1) rotate(-20deg)
    }
}

#splash-container {
    max-width: 300px;
    width: 100%;
    position: absolute;
}

/* Ionica Bizau's gridly */
.row {
    display: flex
}

.col {
    flex: 1
}

@media(max-width:48em) {
    .row {
        flex-direction: column
    }

    .col {
        flex: 0 0 100%
    }
}

.col-left {
    text-align: left;
}

.col-mid {
    text-align: center;
}

.col-right {
    text-align: right;
}
